<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectQuanLySinhVien.Properties.Settings._19CT112_04_05ConnectionString"
            connectionString="Data Source=AN-NGUYEN\AN;Initial Catalog=19CT112_04_05;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ProjectQuanLySinhVien.Properties.Settings._19CT112_04_05ConnectionString1"
            connectionString="Data Source=an-nguyen\sqlexpress;Initial Catalog=19CT112_04_05;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>